blinker
certifi
charset-normalizer
click
confluent-kafka
Deprecated
Flask
googleapis-common-protos
grpcio
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
opentelemetry-api
opentelemetry-exporter-jaeger
opentelemetry-exporter-jaeger-proto-grpc
opentelemetry-exporter-jaeger-thrift
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-confluent-kafka
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-wsgi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
protobuf
requests
six
thrift
typing_extensions
urllib3
Werkzeug
wrapt
zipp
